.App {
  text-align: center;
}

.mainPageLinkInput {
  width: 250px;
}

.mainPageLinkInputButton {
  margin: 5px 0 0 20px;
  /* width: 50px; */
  height: 20px;
}

.keywordInput {
  width: 200px;
}

.keywordInputButton {
  margin: 5px 0 20px 20px;
  /* width: 50px; */
  height: 20px;
}

.bottomContainer {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.chatBox {
  border: 1px solid black;
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  overflow-y: scroll;
  padding: 10px 0 0 10px;
}

.chatLine {
  display: flex;
  column-gap: 10px;
  margin: 0 0 10px 0;
  justify-content: flex-start;
}

.frequentWordBox {
  border: 1px solid black;
  overflow-y: scroll;
  width: 300px;
  height: 400px;
  padding: 10px 0 0 10px;
}

.frequentWordLine {
  display: flex;
  column-gap: 10px;
  margin: 0 0 10px 0;
}
